.logo{
    width: 8rem;
}
.logoSpan{
    position: relative;
    left:5rem;
}
.navCotent{
    position: relative;
}
.userName{
position: relative;
top:12px;
padding-left: 1rem;
}
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(15px, 0); }
    100%   { transform: translate(0, -0px); }   
}
.hero__background{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    /* z-index: 0.5; */
}