.parallaxImg{
    background-image: url(../../assets/images/r6.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.customCard{
    transition-duration: 0.3s ;
    /* height:fit-content; */
    object-fit: cover;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.customCard:hover{
    box-shadow: 1px 2px 5px rgb(92, 92, 92);
    transform: scale(1.02);
    transition-duration: 0.3s ;
}
.card{
    background-image: linear-gradient(to right, #fff7fd, #fef4fd, #fcf0fc, #faedfd, #f8eafd);}